#cv-header {
    display: flex;
    justify-content: space-between;

    img {
        width: $cvSidebarWidth;
        height: $cvSidebarWidth;
    }

    #cv-role {
        flex: 1;
        padding: 0 $cvSectionDivider;

        h2 {
            text-transform: uppercase;
            color: $primary;
            margin-bottom: 5px;
            font-weight: 500;
        }

        h3 {
            font-weight: 300;
            color: #666;
            margin-bottom: 10px;
        }
    }

    #cv-contact-details {
        font-size: 14px / $cvScale;

        p {
            margin-bottom: $paragraphMargin;
        }
    }
}

@media screen and (max-width: $cvResponsive) {
    #cv-header {
        display: block;
        text-align: center;

        img {
            margin-bottom: $headingMargin;
        }
    }
}