.cv-section-title {
    color: $primary;
    font-weight: normal;
    margin-bottom: -$sectionDivider/2;
}

@media screen and (max-width: $cvResponsive) {
    .cv-section-title {
        margin-bottom: $sectionDivider / 2;
    }
}