#cv {
    margin: 0 auto;
    padding: 40px / $cvScale;
    max-width: $cvWidth;
    background-color: #FFF;
    font-size: $cvParahraph;

    header,
    section {
        margin-bottom: $cvSectionDivider;
    }

    > section {
        display: grid;
        grid-template-columns: $cvSidebarWidth 1fr;
        grid-gap: $cvSectionGridGap;

        p {
            margin-bottom: 0;
        }

        h3, h4, h5 {
            font-weight: normal;
            margin-bottom: $paragraphMargin;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .cv-sidebar {
            text-align: right;

            h4 {
                background-color: $cvSidebarBackground;
                color: $cvSidebar;
                font-weight: 300;
                padding: 3px 5px;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: $cvResponsive) {
    #cv {
        margin-top: 0;
        padding: $cvSectionDivider;

        > h2 {
            margin-left: 0;
        }

        section {
            display: block;

            p {
                margin-bottom: $headingMargin;
            }

            .cv-sidebar {
                text-align: left;
                margin-bottom: $headingMargin;

                .cv-date {
                    display: none;
                }
            }
        }
    }
}