*,
html,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    > div:last-child {
        transform: scale($cvScale);
        transform-origin: center 0;
    }
}

@media screen and (max-width: $cvResponsive) {
    #root {
        > div:last-child {
            max-width: 65%;
            margin: 0 auto;
        }
    }
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #4B4E50;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

a {
    text-decoration: none;
}