$primary: #118ab5;
$primary2: #084358;
$background: #4B4E50;
$cvSidebarBackground: #eee;
$cvSidebar: #666;
$fontFamily: "Roboto", sans-serif;
$cvScale: 1.5;
$cvParahraph: 16px  / $cvScale;
$cvWidth: 918px / $cvScale;
$cvSectionDivider: 20px / $cvScale;
$cvSectionGridGap: 15px / $cvScale;
$cvSidebarWidth: 180px / $cvScale;
$headingMargin: 10px / $cvScale;
$paragraphMargin: 5px;
$downloadMenuHeight: 50px;
$cvMargin: $downloadMenuHeight + 10px;
$cvResponsive: $cvWidth * $cvScale;