$primary: #118ab5;
$primary2: #084358;
$cvWidth: 612px;
$sectionDivider: 12px;
$cvSidebarWidth: 120px;
$headingMargin: 10px;
$paragraphMargin: 5px;
$downloadMenuHeight: 50px;
$cvMargin: $downloadMenuHeight + 10px;
$cvScale: 1.5;
$cvResponsive: $cvWidth * $cvScale;